* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3rem;
}

html {
    font-size: 62.5%;
    color-scheme: dark;
}

/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 8% 17% 50%;
    grid-template-areas:
        "h h h h h"
        "title title title title title"
        "bitcoin ethereum binance cardano tether"
        "historico historico historico chart chart";

    gap: 2rem;

    height: 100vh;
    margin: 2rem 3rem 2rem 3rem;
}

.container article, header {
    border-radius: 1rem;
}

/* CABEÇALHO DO CONTAINER */
.container header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: h;

    background-color: #3d3766;
}

.container header h1 {
    font-size: 4rem;
}

.container header div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    font-size: 1.2rem;

    text-align: center;
}

/* ASIDE 
.container aside nav ul {
    display: none;
}

.container aside .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.container aside .mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    background-color: white;
    margin: 0.3rem;
}
*/
/* SQUARE WITH INFORMATION */
.container .title {
    grid-area: title;
}

.container .title h1 {
    font-size: 1.6rem;
}

.container .bitcoin {
    grid-area: bitcoin;
    background-color: #3d3766;
}

.container .ethereum {
    grid-area: ethereum;
    background-color: #3d3766;
}

.container .binance {
    grid-area: binance;
    background-color: #3d3766;
}

.container .cardano {
    grid-area: cardano;
    background-color: #3d3766;
}

.container .tether {
    grid-area: tether;
    background-color: #3d3766;
}

.container .historico {
    grid-area: historico;
    background-color: #3d3766;
}

/* SQUARE WITH CHART */
.container .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: chart;

    background-color: #3d3766;
}

/* SECTION WITHIN SQUARE WITH INFORMATION */
.container article section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
}

/* DIV IMAGE WITHIN SQUARE WITH INFORMATION */
.container article section .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -3rem;

    border-radius: 5rem;
    height: 6rem;
    width: 6rem;
}

/* DIV IMAGE WITHIN SQUARE WITH INFORMATION OF BITCOIN*/
.container .bitcoin section .image {
    background-color: #f89422;
}

/* DIV IMAGE WITHIN SQUARE WITH INFORMATION OF ETHEREUM*/
.container .ethereum section .image {
    background-color: rgba(19, 19, 48, 0.918);
}

/* DIV IMAGE WITHIN SQUARE WITH INFORMATION OF BINANCE*/
.container .binance section .image {
    background-color: #febe42;
}

/* DIV IMAGE WITHIN SQUARE WITH INFORMATION OF CARDANO*/
.container .cardano section .image {
    background-color: #0336ac;
}

/* DIV IMAGE WITHIN SQUARE WITH INFORMATION OF TETHER*/
.container .tether section .image {
    background-color: #029293;
}

/* CONFIGURATION OF IMAGES OF SQUARES WITH INFORMATION */
.container article section img {
    height: 6rem;
    width: 6rem;

    border-radius: 100%;
}

.container .ethereum section img {
    height: 4rem;
    width: 3rem;
}


/* MEDIA QUERIES */

/* MOBILE LAYOUT */
@media (max-width: 700px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 10% 7% 25% 25% 25% 25% 25% 25% 50% 80%;
        grid-template-areas:
            "h"
            "title"
            "bitcoin"
            "ethereum"
            "binance"
            "cardano"
            "tether"
            "historico"
            "chart";
            
        gap: 1rem;
        margin-bottom: 90rem;
    }

    .container header {
        background-color: transparent;
    }
    
    .container header h1 {
        font-size: 3rem;
    }
    
    .container article {
        display: flex;
        justify-content: center;
        align-items: center;

        padding-top: 3rem;
    }

    
}

@media (max-width: 440px) {
        .container header {
            flex-direction: column;
        }
}

@media (max-width: 330px) {
    .container .title h1 {
        font-size: 1.4rem;
     }
}

@media (max-width: 305px) {
    .container .title h1 {
        font-size: 1rem;
    }
}


