* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3rem;
}

html {
    font-size: 62.5%;
    color-scheme: dark;
}

/* CONTAINER */
.container {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-template-rows: 10% 5% 25% 50%;
    gap: 2rem;

    height: 100vh;
}

.container header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-column: 2/8;
}

.container header h1 {
    font-size: 3rem;
}

.container header div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    font-size: 1.2rem;

    text-align: center;
}

/* ASIDE */
.container aside {
    background-color: green;
    grid-row: 1/5;
}

.container aside nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 20rem 0 20rem 0;

    font-size: 1.5rem;
    list-style: none;
}

.container aside .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem 0 3rem 0;
    cursor: pointer;
}

.container aside .mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    background-color: white;
    margin: 0.3rem;
}

/* SQUARE WITH INFORMATION */
.container .title {
    grid-column: 2/8;

    background-color: blueviolet;
}

.container .bitcoin {
    background-color: chocolate;
}

.container .ethereum {
    background-color: coral;
}

.container .binance_coin {
    background-color: darkblue;
}

.container .binance {
    background-color: orangered;
}

.container .cardano {
    background-color: floralwhite;
}

.container .tether {
    background-color: deeppink;
}

.container .historico {
    background-color: darkviolet;
    grid-column: span 3;
}

.container .chart {
    background-color: grey;
    grid-column: span 2;
}


/* MEDIA QUERIES */
@media (max-width: 999px) {}

@media (max-width: 900px) {}

@media (max-width: 600px) {}