* {
    margin: 3.5px;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3rem;

    color: white;
}

:root {
    --default-color: #726A95;
    --crypto-image-background: #131330ea
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "title"
        "main"
        "footer";
    background-color: black;
    padding: 10px;
    max-width: 100%;
}

img {
    height: 76px;
}

/* header section */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
    border-radius: 20px;
    padding: 6px;
    cursor: default;

    background-color: var(--default-color);
}

header div {
    font-size: 0.7rem;
    text-align: center;
}


/* title section */
.page-title {
    grid-area: title;
    text-align: center;
    font-size: 0.6rem;
}


/* main section */
.main-grid-container {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "card-container card-container  chart-bar   chart-bar   chart-bar"
        "card-container card-container  chart-bar   chart-bar   chart-bar"
        "table          table           table       chart-pie   chart-pie"
        "table          table           table       chart-pie   chart-pie";
}


/* cards section */
.card-container {
    grid-area: card-container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    font-size: small;
}

.crypto-card {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 18px;
    background-color: var(--default-color);
}

.crypto-card .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    height: 76px;
    width: 76px;
    margin: auto;

    background-color: var(--crypto-image-background);
}

.crypto-card .image img {
    border-radius: inherit;
    height: 100%;
}

.ethereum .image img {
    height: 60% !important;
}


/* chart-bar section */
.chart-bar {
    grid-area: chart-bar;
    background-color: var(--default-color);
    border-radius: 18px;
    padding: 20px 5px 20px 5px;
}

/* crypto-table section */
.crypto-table {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: table;

    margin: auto;
    border-radius: 18px;

    background-color: var(--default-color);
}

.crypto-table th,
.crypto-table td {
    text-align: center;
}

.crypto-table td {
    background-color: #6d6692;
    border-radius: 10px;
}

.crypto-table img {
    border-radius: 100%;
}